/*默认样式重置*/
*,
::before,
::after {
    margin: 0;
    padding: 0;

    /*防止内容溢出*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    /*清除轻触屏幕(高亮效果)*/
    -webkit-tap-highlight-color: transparent;
}
body {
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
    font-family: Microsoft YaHei,sans-serif;
}
ul {
    list-style: none;
}
a {
    color: #333;    
    text-decoration: none;
}
input,textarea {
    border: 0;
    outline: 0;
    resize: none;

    /*清除 默认样式 立体效果*/
    -moz-appearance: none;
}

/*公共样式*/

/*清浮动*/
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    line-height: 0;
}

[class^="icon-"] {
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px,200px;
}